page-wifi {
    .heading {
        padding: 5px !important;
        background: color($colors, dim) !important;
        font-weight: bold;
    }
    .scroll-content {
        background-color: map-get($colors, light);
    }
    ion-card-header {
        font-weight: bold;
    }
}
